@import "node_modules/bulma/sass/utilities/initial-variables";

$box-background-color: #3c3c3c;
$box-color: #ffffff;
$box-radius: 50px;
$box-padding: 1rem;
$breadcrumb-item-color: #ffffff;
$breadcrumb-item-hover-color: #FAEBD7;
$card-radius: 25px;
$white: #ffffff;
@import "node_modules/bulma/bulma";