html {
  background-image: url("background.png");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
.spl-box {
  width: 62.5rem;
  height: auto;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}