@import "node_modules/bulma/sass/utilities/initial-variables";

$input-placeholder-color: #5b5f80;
$input-border-color: #163749;
$input-background-color: #090d33;
$box-background-color: hsla(203, 32%, 23%,0.5);
$input-color: #5b5f80;
$box-radius: 30px;
$label-color: #ffffff;
@import "node_modules/bulma/bulma";